:root {
    --vanilla: #E8E9A1ff;
    --gunmetal: #0E2431ff;
    --pear: #D8DC2Cff;
    --alice-blue: #E3F4FCff;
    --cadet-gray: #89A4B5ff;
    --gunmetal-2: #133040ff;
    --silver: #C1CED0ff;
    --battleship-gray: #808B8Eff;
    --cadet-gray-2: #8A959Eff;
    --azure-web: #E1F5FBff;
    --paynes-gray: #61767Bff;
    --beige: #FAFAE0ff;
    --red: #DB3129;
}

@font-face {
    font-family: Jakarta-Sans;
    src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf"), format("truetype");
}

@font-face {
    font-family: Jakarta-Sans-Italic;
    src: url("../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype"); 
}

* {
    font-family: Jakarta-Sans;
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem 1rem ;
}

label {
    color: var(--cadet-gray-2);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: .5rem;
}

input {
    color: var(--gunmetal-2);
    font-weight: bold;
    border: none;
    padding: .5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {  
    -webkit-appearance: none;
    margin: 0; 
}

input:focus-visible {
    outline: none;  
}

.calculator__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--silver);
    border-radius: 4px;
    background-color: white;
    margin-top: .5rem;
}

.input__wrapper--error {
    border: 2px solid var(--red);
}

.input__wrapper > input {
    width: 100%;
}

.input__unit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alice-blue);
    color: var(--paynes-gray);
    padding: 3vw;
    font-weight: bold;
}

.input__unit--error {
    border: 2px solid var(--red);
    color: white;
}

