:root {
    --vanilla: #E8E9A1ff;
    --gunmetal: #0E2431ff;
    --pear: #D8DC2Cff;
    --alice-blue: #E3F4FCff;
    --cadet-gray: #89A4B5ff;
    --gunmetal-2: #133040ff;
    --silver: #C1CED0ff;
    --battleship-gray: #808B8Eff;
    --cadet-gray-2: #8A959Eff;
    --azure-web: #E1F5FBff;
    --paynes-gray: #61767Bff;
    --beige: #FAFAE0ff;
    --red: #DB3129;
}

@font-face {
    font-family: Jakarta-Sans;
    src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf"), format("truetype");
}

@font-face {
    font-family: Jakarta-Sans-Italic;
    src: url("../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
}

* {
    font-family: Jakarta-Sans;
    margin: 0;
    padding: 0;
}


label {
    color: var(--cadet-gray-2);
    font-size: 14px;
    font-weight: 500;
}

input {
    color: var(--gunmetal-2);
    font-weight: bold;
    border: none;
    padding: .5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus-visible {
    outline: none;
}

.calculator {
    padding: 2rem 1rem;
}

.calculator__heading {
    font-size: 1.375rem;
    color: var(--gunmetal-2);
}

.calculator__reset-button {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: var(--cadet-gray-2);
    font-weight: 500;
}

.calculator__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--silver);
    border-radius: 4px;
    background-color: white;
    margin-top: .5rem;
}

.input__label {
    margin-bottom: .5rem;
}

.input__wrapper--error {
    border: 2px solid var(--red);
}

.input__wrapper>input {
    width: 100%;
}

.input__unit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alice-blue);
    color: var(--paynes-gray);
    padding: 3vw 3.5vw;
    font-weight: bold;
}

.input__unit--error {
    background-color: var(--red);
    color: white;
}

.input__error-msg {
    color: var(--red);
    margin-top: .5rem;
    font-size: .75rem;
}

.input__type-error {
    color: var(--red);
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: bold;
}

.calculator__mortgage-type-wrapper {
    display: flex;
    flex-direction: column;
}

.input__radio-wrapper {
    color: var(--gunmetal);
    font-size: 1rem;
    border: 2px solid var(--silver);
    border-radius: 4px;
    padding: .75rem;
    margin-bottom: .5rem;
}

.input__radio-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gunmetal-2);
    font-weight: 700 !important;
    font-size: 1rem;
}

.input__radio--checked{
    background-color: var(--vanilla);
    border-color: var(--pear);
}

.calculator__radio-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--silver);
}

.calculator__radio-input:checked {
    background-color: var(--pear);
    outline: max(2px, 0.15em) solid var(--pear);
    border: 2px solid var(--vanilla);
}

.calculator__button {
    border: none;
    background-color: var(--pear);
    border-radius: 25px;
    padding: .75rem;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.results {
    background-color: var(--gunmetal-2);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results__heading {
    color: white;
    font-size: 1.375rem;
    font-weight: 600;
}

.results__instructions {
    color: var(--cadet-gray);
    text-align: center;
    font-size: .875rem;
    margin-top: 1rem;
}

